@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(colors.css);
@import url(initialize.css);

body {
  background-color: var(--bg-stack-1);
  display: flex;
  justify-content: center;
}

#__next {
  width: 100vw;
  display: flex;
  justify-content: center;
}